@media (min-width: 767px) {
  .mobileMenu {
    display: none;
  }
}
@media (max-width: 768px) {
  .section-group {
    padding-right: 0;
  }

  .section-body {
    padding-left: 0;
  }

  .section-title {
    font-size: 1.25rem;
  }

  .error-code,
  .error-code-glow {
    font-size: 120px;
  }
}
